/** content **/

blockquote {
  color: #666;
}

.custom-block.tip {
  border-color: $accentColor;
}

.theme-container.no-sidebar
  .sidebar-links
    display none

.sidebar  .sidebar-title
  padding .5rem 1rem .5rem 1.25rem
  font-size 1.3rem
  line-height 2rem
